body{
    background-color: #06113C;
}
.heading{
    font-family: 'Courier New', Courier, monospace;
    color:#FF8C32;
    text-align: center;
}
.subhead{
    text-align: center;
    color: #DDDDDD;
    font-size: 25px;
}
.footertext{
    color:white;
    text-align: center;
}
.footertext a{
    text-decoration: none;
    color:white;
}